<!-- @format -->

{% extends "layouts/base.html" %} {% block title %} Inicio{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!--runa: Inicio  -->

<div lass="container">
	<!-- inicio-->
	<section>
		<div>
			<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
				<ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
					<li class="breadcrumb-item">
						<a href="{% url 'curso' %}">
							<svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
								</path>
							</svg>
						</a>
					</li>
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
					<li class="breadcrumb-item active" aria-current="page">
						<a href="{% url 'curso' %}">Curso</a>
					</li>
				</ol>
			</nav>

			<div class="row justify-content-center ">
				<div class="col-12 text-center">
					<h2 class="h1 px-lg-5">Vocales</h2>
					<p class="lead px-lg-8">En esta sesión puede aprender sobre las vocales </p>
				</div>

			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4 selectColor">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/a.png" style="width: 100px; height: 180px" />
							<h5 class="fw-bold text-primary">A</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls style="width: 200px; ">
								<source src="/static/assets/audio/va.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4 selectColor">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/i.png" style="width: 100px; height: 180px" />

							<h5 class="fw-bold text-primary">I</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls style="width: 200px; ">
								<source src="/static/assets/audio/vi.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4 selectColor">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/u.png" style="width: 100px; height: 180px" />
							<h5 class="fw-bold text-primary">U</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls style="width: 200px; ">
								<source src="/static/assets/audio/vu.mp3" />
							</audio>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--fin-->
</div>

<!-- inicio -->

<button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal"
	data-bs-target="#modal-form">Practicar ahora</button>
<div class="col-lg-4">
	<!-- Button Modal -->

</div>
</p>
<!-- fin -->

<!-- Modal Content -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card p-3 p-lg-4">
					<button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
					<div class="text-center text-md-center mb-4 mt-md-0">
						<h1 class="mb-0 h4">Aprende ahora</h1>
					</div>
					{% block contenido %}

					{% if pregunta is None %}

					<div class="container">
						<div class="jumbotron my-4">
							<h1>Felicitaciones, respondiste a todas las preguntas,  Mira el tablero de posiciones</h1>
							
							<a href="{% url 'tablero' %}">Ver Aqui</a>
						</div>
					</div>

					{% else %}
					<div class="container">
						<div classs="jumbotron my-4">
							<h3>
								{{pregunta.texto}}
							</h3>
							<form method="POST" class="form">
								{% csrf_token %}
								<input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">
								{% for opciones in pregunta.opciones.all %}
							

								<div class="form-check mx-4">
									<input class="form-check-input" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}">
									<label class="form-check-label" for="choice-{{forloop.counter}}">
										{{opciones.texto}}
									</label>
								</div>
								{% endfor %}
								<button type="submit" class="btn btn-success">
									Enviar </button>
							</form>
						</div>
					</div>

					{% endif %}



					{% endblock %}
					<div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Content -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}