<!-- @format -->

{% extends "layouts/base.html" %} {% block title %} Inicio{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="py-4">
	<div class="dropdown">
		<!-- <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                Nuevo Curso
            </button> -->
		<div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
			<a class="dropdown-item d-flex align-items-center" href="#">
				<svg
					class="dropdown-icon text-gray-400 me-2"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
					></path>
				</svg>
				Add User
			</a>
			<a class="dropdown-item d-flex align-items-center" href="#">
				<svg
					class="dropdown-icon text-gray-400 me-2"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
					></path>
				</svg>
				Add Widget
			</a>
			<a class="dropdown-item d-flex align-items-center" href="#">
				<svg
					class="dropdown-icon text-gray-400 me-2"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"
					></path>
					<path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path>
				</svg>
				Upload Files
			</a>
			<a class="dropdown-item d-flex align-items-center" href="#">
				<svg
					class="dropdown-icon text-gray-400 me-2"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
						clip-rule="evenodd"
					></path>
				</svg>
				Preview Security
			</a>
			<div role="separator" class="dropdown-divider my-1"></div>
			<a class="dropdown-item d-flex align-items-center" href="#">
				<svg
					class="dropdown-icon text-danger me-2"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
						clip-rule="evenodd"
					></path>
				</svg>
				Upgrade to Pro
			</a>
		</div>
	</div>
</div>

<!--runa: Inicio  -->

<div lass="container">
	<!-- inicio-->

	<section>
		<div>
			<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
				<ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
					<li class="breadcrumb-item">
						<a href="{% url 'curso' %}">
							<svg
								class="icon icon-xxs"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
								></path>
							</svg>
						</a>
					</li>
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
					<li class="breadcrumb-item active" aria-current="page">
						<a href="{% url 'curso' %}">Curso</a>
					</li>
				</ol>
			</nav>

			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h2 class="h1 px-lg-5">Consonantes</h2>
					<!-- <p class="lead px-lg-8">En el presente software encontrará expresiones lingüísticas culturales acerca de la revitalización de la lengua Runa shimi, como mecanismo de apropiación de nuestro idioma propio que identifica al Pueblo Yanacona y especialmente al Resguardo de Pancitará.</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/ch.png" style="width: 100px; height: 100px" />
							<h5 class="fw-bold text-primary">CH</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/Ch.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/l.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">L</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/la.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/n.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">N</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/N.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/s.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">S</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/S.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/w.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">W</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/W.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/h.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">H</h5>
							<p class="mb-0 text-gray-600"></p>
							<!-- falta -->
							<audio controls>
								<source src="/static/assets/audio/h.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/ll.png" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">LL</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/Ll.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/sh.png" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">SH</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/Sh.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/k.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">K</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/K.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/m.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">M</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/M.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/ene.png" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">Ñ</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/ene.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/r.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">R</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/R.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/t.jpg" style="width: 100px; height: 100px" />
							<h5 class="fw-bold text-primary">T</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/T.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/y.jpg" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">Y</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/Y.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/ts.png" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">TS</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/ts.mp3" />
							</audio>
						</div>
					</div>
				</div>
				<!-- <div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/sh.png" style="width: 100px; height: 100px" />

							<h5 class="fw-bold text-primary">SH</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="sh.mp3" />
							</audio>
						</div>
					</div>
				</div> -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="card bg-white shadow-soft text-primary rounded mb-4">
						<div class="px-3 px-lg-4 py-5 text-center">
							<image src="/static/assets/img/z.png" style="width: 100px; height: 100px" />
							<h5 class="fw-bold text-primary">Z</h5>
							<p class="mb-0 text-gray-600"></p>
							<audio controls>
								<source src="/static/assets/audio/z.mp3" />
							</audio>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--fin-->
</div>

<!-- inicio -->
<div class="d-grid gap-2">
	<button type="button" class="btn btn-block btn-gray-800 mb-3 btn-success" data-bs-toggle="modal"
	data-bs-target="#modal-form"><i class="fas fa-gamepad"></i> Practicar ahora</button>
</div>

<div class="col-lg-4">
	<!-- Button Modal -->

</div>
</p>
<!-- fin -->

<!-- Modal Content -->
<div class="modal fade" id="modal-form" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card p-3 p-lg-4">
					<button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
					<div class="text-center text-md-center mb-4 mt-md-0">
						
					</div>
					{% block contenido %}

					{% if pregunta is None %}

					<div class="container">
						<div class="jumbotron my-4">
							<h1>Felicitaciones, ya has respondido la pregunta.  Mira el tablero de posiciones</h1>
							
							<a href="{% url 'tablero' %}">Ver Aqui</a>
						</div>
					</div>

					{% else %}
					<div class="container">
						<div classs="jumbotron my-4">
							<h3>
								{{pregunta.texto}}
							</h3>
							<form method="POST" class="form">
								{% csrf_token %}
								<input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">
								{% for opciones in pregunta.opciones.all %}
							

								<div class="form-check mx-4">
									<input class="form-check-input" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}">
									<label class="form-check-label" for="choice-{{forloop.counter}}">
										{{opciones.texto}}
									</label>
								</div>
								{% endfor %}
								<button type="submit" class="btn btn-success">
									Enviar </button>
							</form>
						</div>
					</div>

					{% endif %}



					{% endblock %}
					<div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Modal Content -->



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
